<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/contactsStyle.css">
    <title></title>
</head>

<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">CRM AI Mini App</div>

            <div class="header__nav nav">
                    <div class="nav__item"><a href="/{{userId}}" class="nav__text">Задачи</a></div>
                    <div class="nav__item nav__item_active"><a href="/contacts/{{userId}}" class="nav__text">Контакты</a></div>
                    <div class="nav__item"><a href="/meets/{{userId}}" class="nav__text">Встречи</a></div>
            </div>
        </div>
    </header>

    <section class="main-list">
        <div class="main-list__container">
            {{#each contact}}
                <a href="/contact/{{this.contact_id}}/{{this.user_id}}" class="main-list__item item">
                    <div class="item__left-part">
                        <div class="item__name">{{this.name}}</div>
                    </div>
                    <div class="item__right-part">
                        <div class="item__number">{{this.phone}}</div>
                    </div>
                </a>
            {{/each}}
        </div>
    </section>
</body>
</html>