<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/contactStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title></title>
</head>

<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">CRM AI Mini App</div>

            <div class="header__nav nav">
                    <div class="nav__item"><a href="/{{userId}}" class="nav__text">Задачи</a></div>
                    <div class="nav__item nav__item_active"><a href="/contacts/{{userId}}" class="nav__text">Контакты</a></div>
                    <div class="nav__item"><a href="/meets/{{userId}}" class="nav__text">Встречи</a></div>
            </div>
        </div>
    </header>

    <section class="contact">
        <div class="contact__container">
            <div class="contact__top-info">
                <h1 class="contact__name">{{contactInfo.name}}</h1>
                <div class="contact__edit-button"></div>
            </div>

            <div class="contact__phone contact__subtitle">
                {{contactInfo.phone}}
            </div>

            <div class="contact__mail contact__subtitle">
                {{contactInfo.email}}
            </div>

            <div class="contact__notes">
                Заметки:
                <div class="contact__notes-text contact__subtitle">
                    {{contactInfo.notes}}
                </div>
            </div>

            <div class="contact__dates">
                <div class="contact__date">
                    Дата создания:
                    <span class="contact__date-info">
                        {{dateFormat contactInfo.created_at "D.M.YYYY"}}
                    </span>
                </div>
                <div class="contact__date">
                    Дата изменения:
                    <span class="contact__date-info">
                        {{dateFormat contactInfo.updated_at "D.M.YYYY"}}
                    </span>
                </div>
            </div>

            <form class="contact__files-form" action="/files/{{contactInfo.contact_id}}/{{userId}}" method="post">
                <button class="contact__files-button">Скачать файлы</button>
            </form>
        </div>
    </section>
</body>
</html>